<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head.html -%}
  <body>

    {%- include header.html -%}
    
    {% include baidu-anaylysis.html %}
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include statistics.html -%}
    {%- include footer.html -%}

  </body>

{ % if page.mermaid % }

<script>
function initMermaid() {
  var config = {
    startOnLoad: true,
    theme: "forest",
    flowchart:{
      useMaxWidth: true,
      htmlLabels: true
    }
  };
  mermaid.initialize(config);
  window.mermaid.init(undefined, document.querySelectorAll('.language-mermaid'));
}
</script>

<script src="/js/mermaid.min.js"
  async
  onload="initMermaid()">
</script>

{ % endif % }

</html>
